.App{
  position: relative;
}
.container-part-one,.container-part-three{
  position: absolute;
  height: 2000px;
  width: 1519px;
  background-color:white;
  z-index: 4;
}
.container-part-two{
  position: absolute;
  z-index: 2;
  top:3000px;
  height: 900px;
  width: 1519px;
  background-image: url('./img/parallax2.jpg');
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: center;
}
.container-part-three{
  top:3400px;
  z-index: 3;
  height: 1512px;
}
